hr {
    width: 95%;
    margin: 0 auto;
    background-color: #EEEEEE;
    height: 2px;
    border: thin;
}

.payment {
    background-color: white;
    padding: 20px;

}

.paymentContainer {
    display: flex;
}

.first {

    margin-top: 10px;
    flex: 0.3;
}

.second {
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    flex: 0.7;
}

.cp {
    margin: 0 0 10px 0;

}

Link {
    color: black;
    position: relative;
    z-index: 2;

}

.pageTitle {

    display: flex;
    text-align: center;
}

.pay {
    position: relative;
    z-index: 2;
}

.paymentContainer {
    padding-right: 20px;
}